Modulos/
test.py
LM_Studio-0.3.5.AppImage
1.FundAi/VideoCaptures/config_files/yolov3.weights
Notes.txt
myenv/
pytorch-deep-learning/
Lab 01 - OpenCV e Trabalho de Imagens.pdf
Módulo 01 - OpenCV e Trabalho de Imagens.pdf
.venv/
*.pdf
*.avi
yolo*

