Modulos/
test.py
LM_Studio-0.3.5.AppImage
1.FundAi/VideoCaptures/config_files/yolov3.weights
Notes.txt
myenv/
pytorch-deep-learning/
Lab 01 - OpenCV e Trabalho de Imagens.pdf
Módulo 01 - OpenCV e Trabalho de Imagens.pdf
.venv/
*.pdf
*.avi
yolo*
*/venv/
*/.venv/
3.LLMs/4.CHATBOT/chatbot
3.LLMs/2.BERT/llmenv
3.LLMs/Modulos LLMs
VideoCaptures/config_files
*/.ipynb_checkpoints/
*/.idea/
Fall_detection
Fall_detection/fall_detection
2.Vision/lab05/ex01_sd35-copy.py